.oy-footer{
    position: relative;
    z-index: 2;

    &-top{
        padding-top: calc(30px * var(--spacing-scale));
        padding-bottom: calc(30px * var(--spacing-scale));

        @include media-breakpoint-up(xl) {
          padding-top: calc(50px * var(--spacing-scale));
          padding-bottom: calc(50px * var(--spacing-scale));
        }
        .btn{
            @include media-breakpoint-down(sm) {
               width: 100%;
               .circle {
                    width: 100vw;
                    height: 100vw;
               }
            }
        }
    }


    // MIDDLE
    &-middle{
        padding-top: calc(50px * var(--spacing-scale));
        padding-bottom: calc(50px * var(--spacing-scale));

        @include media-breakpoint-up(xl) {
          padding-top: calc(100px * var(--spacing-scale));
          padding-bottom: calc(100px * var(--spacing-scale));

          .row{
            grid-template-columns: none;
            grid-auto-flow: column;
            display: grid;
            gap: 20px;

            .col-xl-2, .col-xl-3{
                width: auto;
            }
          }
        }
    }

    &__menu{
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li a{
            display: block;
            text-decoration: none;
            color: $white;
            opacity: 0.7;
            transition: all 0.3s ease;
            font-size: var(--font-b4-size);
            line-height: var(--font-b4-line-height);
            font-weight: 400;
            font-family: var(--font-family-body);

            &:hover{
                opacity: 1;
            }
        }

        &-more{
            display: inline-block;
            text-decoration: underline;
            color: $primary;
            transition: all 0.3s ease;
            font-size: var(--font-b4-size);
        }
    }


    .contact-list{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li a{
            display: flex;
            align-items: center;
            gap: 4px;
            color: $white;
            opacity: 0.7;
            transition: all 0.3s ease;
            text-decoration: none;
            font-size: var(--font-b4-size);
            line-height: var(--font-b4-line-height);
            font-weight: 400;
            font-family: var(--font-family-body);

            &:hover{
                opacity: 1;
            }

            .contact-list__svg{
                min-width: 20px;
            }
        }
        
    }

    .oy-footer-newsletter{
        --btn-before-size: 400px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .form-control{
            background: transparent;
            border: 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            color: $white;
            padding: 10px 0px;
            border-radius: 0px;
            font-size: var(--font-b4-size);
            line-height: var(--font-b4-line-height);
            font-weight: 400;
            font-family: var(--font-family-body);
            &:focus{
                outline: none;
                box-shadow: none;
            }
            &::placeholder{
                color: $white;
                opacity: 0.7;
            }
        }
    }

    // FOOTER UTILITY
    &-utility{
        padding-top: calc(30px * var(--spacing-scale));
        padding-bottom: calc(30px * var(--spacing-scale));

        @include media-breakpoint-up(xl) {
          padding-top: calc(50px * var(--spacing-scale));
          padding-bottom: calc(50px * var(--spacing-scale));
        }


        &__menu{
            display: flex;
            flex-wrap: wrap;
            row-gap: 5px;
            column-gap: 15px;

            li{

                &:not(:last-child){
                    position: relative;
                    padding-right: 15px;
                }
                &:not(:last-child)::after{
                    content: '';
                    display: block;
                    width: 1px;
                    height: 16px;
                    background: rgba(255, 255, 255, 0.7);
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                a{
                    color: $white;
                    text-decoration: none;
                    transition: all 0.3s ease;
                    opacity: 0.7;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }

    .accordion--style-3{
        --bs-accordion-bg: rgb(255, 255, 255, 0.04);
        --bs-accordion-btn-color: #fff;
        --bs-accordion-active-color: #fff;        
        --bs-accordion-btn-icon: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjAwMDggMTMuMzMzNEM5Ljg5MTEzIDEzLjMzNCA5Ljc4MjQxIDEzLjMxMyA5LjY4MDg4IDEzLjI3MTVDOS41NzkzNSAxMy4yMzAxIDkuNDg3MDEgMTMuMTY5IDkuNDA5MTQgMTMuMDkxN0w0LjQwOTE0IDguMDkxNzRDNC4yNTIyMiA3LjkzNDgyIDQuMTY0MDYgNy43MjE5OSA0LjE2NDA2IDcuNTAwMDdDNC4xNjQwNiA3LjI3ODE2IDQuMjUyMjIgNy4wNjUzMyA0LjQwOTE0IDYuOTA4NDFDNC41NjYwNiA2Ljc1MTQ5IDQuNzc4ODkgNi42NjMzMyA1LjAwMDgxIDYuNjYzMzNDNS4yMjI3MiA2LjY2MzMzIDUuNDM1NTUgNi43NTE0OSA1LjU5MjQ3IDYuOTA4NDFMMTAuMDAwOCAxMS4zMjUxTDE0LjQwOTEgNi45MTY3NEMxNC41Njg2IDYuNzgwMjIgMTQuNzczNiA2LjcwODg4IDE0Ljk4MzMgNi43MTY5OEMxNS4xOTMxIDYuNzI1MDggMTUuMzkyIDYuODEyMDMgMTUuNTQwNCA2Ljk2MDQ0QzE1LjY4ODkgNy4xMDg4NSAxNS43NzU4IDcuMzA3OCAxNS43ODM5IDcuNTE3NTNDMTUuNzkyIDcuNzI3MjYgMTUuNzIwNyA3LjkzMjMyIDE1LjU4NDEgOC4wOTE3NEwxMC41ODQxIDEzLjA5MTdDMTAuNDI4OSAxMy4yNDU3IDEwLjIxOTQgMTMuMzMyNSAxMC4wMDA4IDEzLjMzMzRaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
        --bs-accordion-btn-active-icon: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjAwMDggNi42NjY1OUM5Ljg5MTEzIDYuNjY1OTYgOS43ODI0MSA2LjY4Njk4IDkuNjgwODggNi43Mjg0NUM5LjU3OTM1IDYuNzY5OTIgOS40ODcwMSA2LjgzMTAzIDkuNDA5MTQgNi45MDgyNkw0LjQwOTE0IDExLjkwODNDNC4yNTIyMiAxMi4wNjUyIDQuMTY0MDYgMTIuMjc4IDQuMTY0MDYgMTIuNDk5OUM0LjE2NDA2IDEyLjcyMTggNC4yNTIyMiAxMi45MzQ3IDQuNDA5MTQgMTMuMDkxNkM0LjU2NjA2IDEzLjI0ODUgNC43Nzg4OSAxMy4zMzY3IDUuMDAwODEgMTMuMzM2N0M1LjIyMjcyIDEzLjMzNjcgNS40MzU1NSAxMy4yNDg1IDUuNTkyNDcgMTMuMDkxNkwxMC4wMDA4IDguNjc0OTNMMTQuNDA5MSAxMy4wODMzQzE0LjU2ODYgMTMuMjE5OCAxNC43NzM2IDEzLjI5MTEgMTQuOTgzMyAxMy4yODNDMTUuMTkzMSAxMy4yNzQ5IDE1LjM5MiAxMy4xODggMTUuNTQwNCAxMy4wMzk2QzE1LjY4ODkgMTIuODkxMiAxNS43NzU4IDEyLjY5MjIgMTUuNzgzOSAxMi40ODI1QzE1Ljc5MiAxMi4yNzI3IDE1LjcyMDcgMTIuMDY3NyAxNS41ODQxIDExLjkwODNMMTAuNTg0MSA2LjkwODI2QzEwLjQyODkgNi43NTQzMSAxMC4yMTk0IDYuNjY3NTEgMTAuMDAwOCA2LjY2NjU5WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+");
    }
}