.oy-banner{
    padding: calc(26px * var(--spacing-scale)) calc(16px * var(--spacing-scale));
    border-radius: 24px;
    background-size: cover;
    background-position: 100% 100%;

    &__row{
        min-height: 50vh;
    }

    @include media-breakpoint-up(xl) {
        padding: calc(100px * var(--spacing-scale));
        border-radius: 30px;
    }
    @include media-breakpoint-down(md) {
        background-image: unset !important;
    }

    &__home-hero{
        background-size: cover;
        background-position: 100% 100%;
        @include media-breakpoint-down(md) {
            background-image: unset !important;
        }
    }

    &__mobile{
        background-size: cover;
        background-position: 100% 100%;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}