.e-control-group {
    position: relative;
    display: flex;
    border: 1px solid #CAD6EE;
    padding: 10px 20px;
    border-radius: 8px;
    align-items: center;
    gap: 8px;
    height: 60px;
    overflow: hidden;
}

.e-control-group input {
    border: 0px;
    padding: 0;
    color: var(--bs-secondary);
    font-size: var(--font-b4-size);
    font-weight: 600;
    height: 46px;
    
    &, &:focus, &:hover, &:active{
        box-shadow: none;
    }
}

.e-select{
    --bs-form-select-bg-img: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMuMDYxNDEgNi43MTI1Mkw3Ljk1MTQxIDExLjYwMjVDOC41Mjg5MSAxMi4xOCA5LjQ3MzkxIDEyLjE4IDEwLjA1MTQgMTEuNjAyNUwxNC45NDE0IDYuNzEyNTIiIHN0cm9rZT0iIzU0NUE2NCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPg==");
    background-position: right 1.75rem center;
    background-size: 2rem;
    padding: 1.2rem 4.5rem 1.2rem 5rem;
    --color-foreground: 84, 90, 100, 1;
    --bs-border-color :#969FB7;
    --bs-border-radius: 100px;
    display: flex;

    span.e-select-icon svg {
        width: 2rem;
    }
    .select-styled{
        padding: 0 !important;
        position: unset;
        font-size: var(--font-b4-size);
    }
    .select-styled__arrow{
        display: none;
    }
    .select-styled__text:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: var(--bs-border-radius);
    }

    .select-options{
        border: 1px solid var(--bs-border-color);
        background-color: $white;
        padding: 0px;
        box-shadow: none;    
        &__item{
            font-size: var(--font-b5-size);
            padding: 7px 16px;
        }
    }

    .select-search{
        border: 1px solid rgb(150 159 183 / 30%);
    }
}

.e-select-group{
    position: relative;

    span.e-select-icon {
        position: absolute;
        left: 2rem;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
    }
}


form .e-select{
    --bs-border-color: #CAD6EE;
    height: 6rem;
    display: flex;
    align-items: center;
}

.form-group__lookup{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 20px;
    border-radius: 50px;
    background: $primary;
    color: $white;
    font-size: var(--font-b5-size);
    cursor: pointer;
}

.form-select,
.form-control{
    min-height: 6rem;
    font-size: var(--font-b4-size);
}