/*th {*/
/*  text-align: left;*/
/*  padding-left: 5px !important;*/
/*}*/

/* Simple repeater table header fix */
tr.nsr-border-b.nsr-border-slate-200.dark\:nsr-border-slate-600 th {
    text-align: left;
    padding: 7px !important;
}

tr.o1-border-b.o1-border-slate-200.dark\:o1-border-slate-600 th {
    text-align: left;
    padding: 7px !important;
}
